<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ST Dev KL Member List</title>
    <link rel="stylesheet" href="src/styles.css" type="text/css" />
</head>
<body ng-app="app.memberList">
	<div id="members" ng-controller="KlDevMembers as member">
		<form id="form" name="memberForm" ng-controller="MemberController as memberCtrl" novalidate>
			<table>
				<tr>
					<td><label for="name">Name:</label></td>
					<td><label for="email">Email:</label></td>
					<td><label for="email">Telephone:</label></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<input type="text" placeholder="ST Dev KL" name="name" 
							ng-model="memberCtrl.profile.Name" required></input>
					</td>
					<td>
						<input type="email" placeholder="user@domain.com" name="email" 
							ng-model="memberCtrl.profile.Email" required></input>
					</td>
					<td>
						<input type="tel" placeholder="" name="tel" 
							ng-model="memberCtrl.profile.Phone" required></input>
					</td>
					<td>
						<button ng-click="memberForm.$valid && memberCtrl.addMember()" 
							name="submit">Submit</button>
					</td>
				</tr>
			</table>
			<p></p>
			<div id="member-list" >
				<table border="1" margin="2">
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td>Email</td>
						<td>Telephone</td>
						<td>Date Added</td>
						<td>&nbsp;</td>
					</tr>
					<tr ng-repeat="profile in member.profiles">
						<td>{{profile.Id}}</td>
						<td>{{profile.Name}}</td>
						<td>{{profile.Email}}</td>
						<td>{{profile.Phone}}</td>
						<td>{{profile.Date}}</td>
						<td>
							<button ng-click="memberCtrl.deleteMember(profile)" 
								data="{{profile}}">Del</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
    <script src="bower_components/angular/angular.min.js" type="application/javascript"></script>
    <script src="src/script.js" type="application/javascript"></script>
</body>